/***************全局样式********************/
*{
	box-sizing: border-box;
	padding:0;
	margin: 0;
	list-style:none;
	text-decoration:none;
	outline: none;
}
.lf{float: left}
.rf{float: right}
body{
	font:14px  Helvetica Neue,Helvetica,sans-serif,"Microsoft yahei",Arial;
}
/***************尾部样式********************/

.pd-10{padding:10px;}

.mg-t-10{margin-top:10px;}
.mg10-0{margin:10px 0;}
.mg-r-10{margin-right:10px;}
.mg10{margin:10px;}
.weui-content{background:#f5f5f5;}
.clearfix{clear:both; display:block;}
.clear:after,.clear:before{clear:both; display:block; content:"";}
.num{font-family:Arial, Helvetica, sans-serif;}
.t-c{text-align:center;}
.t-r{text-align:right;}


.txt-color-ml{color:#586c94;}
.txt-color-red{color:#e21323;}
.yellow-color{background-color:#ffb03f;}
.gray-color{background-color:#ddd;}
.red-color{background-color:#e21323;}
.weui-icon-success{color:#15C8DA;}

.font-b{font-weight:bold;}
.font-12{font-size:12px;}
.font-13{font-size:12px;}
.font-14{font-size:14px; font-weight:normal;}
.font-15{font-size:15px;}
.font-16{font-size:16px;}
.font-20{font-size:20px;}
.mg-tb-5{margin:5px 0 !important;}


.w-100{width:100px;}
.w-90{width:90px;}
.w-80{width:80px;}

.fl{float:left;}
.fr{float:right;}
.weui-media-box_appmsg .weui-media-box__hd{width:82px; height:82px; margin-right:10px;}
em,s,i{font-style:normal;}
img { border: 0; vertical-align: middle; }
.cardlist{font-size:15px;}
.radius{border-radius:50%;}
.weui-media-box_appmsg .weui-media-box__hd{width:82px; height:82px; margin-right:10px;}