.login form{
    display: block;
    margin-top:44px;
    background: #E5E5E5;
    padding: 25px 0;
}
.login .skip{
    padding: 0 15px;
}
.login .skip a{
    color: #ED3239;
    font-size: 12px;
}
.login .msg{width: 100%;
    height: 30px;
    line-height: 30px;
    color: red;
    text-align: center;
    margin-top: 30px;
    }
.login  .ck{
    background: #fff;
    border-bottom:1px solid #8A8A8A;
    padding: 10px;
}
.login .ck input{float: left;width: 20px;margin-right: 55px;}
.login .ck span{color: #ED3239;}
