.reg form{
    display: block;
    margin-top:44px;
    background: #E5E5E5;
    padding: 25px 0;
}
.reg .skip{
    padding: 0 15px;
}
.reg .skip a{
    color: #ED3239;
    font-size: 12px;
}
.reg .msg{width: 100%;
    height: 30px;
    line-height: 30px;
    color: red;
    text-align: center;
    margin-top: 30px;
    }