.wy-iconlist-box{background:#fff; padding:0 10px;}
.wy-links-iconlist{display:block; text-align:center; margin:10px 0;}
.wy-links-iconlist .img{margin:0 23px;}
.wy-links-iconlist img{width:100%;}
.wy-links-iconlist p{font-size:11px; color:#454545; margin-top:5px;}