.user-name{color:#fff; font-weight:600; font-size:16px;margin-bottom: 5px;}
.user-grade{color:#FC0; margin:2px 0; font-size:13px;margin-bottom: 5px;}
.user-integral{font-size:13px; color:#fafafa;margin-bottom: 5px;}
.radius{border-radius:50%;}
.weui-media-box_appmsg .weui-media-box__hd{width:82px; height:82px; margin-right:10px;}
.user_box{
    height:160px;
    background: url("../assets/images/user-box-bg.png") no-repeat center;
    background-size: 100% 160px;
}
.weui-media-box_appmsg .weui-media-box__hd .weui-media-box__thumb{width:82px; height:82px; margin-right:10px;}
.wy-center-top{width:100%; overflow:hidden; background:url(../assets/images/center-top-bj.jpg) no-repeat; background-size:cover;}
.wy-center-top .userinfo{padding:0}
.wy-center-top .xx-menu{height:44px; background:rgba(0,0,0,.3);}
.user-header{overflow: hidden;display: block;width: 100%;height: 100%;background: url(../assets/images/right.png) no-repeat 95%;background-size:10px 15px}