.center-ordersModule{text-align:center; display:block; padding:10px 0; position:relative;}
.center-ordersModule .name{font-size:12px; color:#333;}
.center-money{font-size:15px; color:#000; font-family:Arial, Helvetica, sans-serif;}
